body{
       background-image:url('campusimg.png');
}

.navb {
	top: 0;
	position: fixed;
	background-color: rgb(157, 234, 246);
	width: 100%;
    height: 8%;
	padding-right: 7%;
	z-index: 9999;
    border-bottom: 5px solid #326273 !important;
}

.navb form {
	margin-left: auto;
       padding: 10px;
}

.nav-item {
	border-radius: 20px;
	margin-right: 5px;
}

.nav-link {
	color: black !important;
	font-family: heiti sc, courier;
	font-weight: 200 !important;
    padding: 15px;
}


.body-container{
	background-image: linear-gradient(to right, #A0C4E2, #5C9EAD);
    padding: 2%;
    margin-top:100px;
    margin-bottom: 100px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    font-family:heiti sc;
    color:white;
    border:5px solid #326273;
}


.card{
  margin-top:50px;
  margin-bottom:50px;
  background-color:#326273 ;
  border:5px solid #283845;
  padding:15px;

}

.card-body{
    font-family:heiti sc, courier;
    margin-top:10px;
    margin-bottom:10px;
}


input{
    margin-bottom: 50px;
}

label{
    color:white;
}

hr {
    border-top: 1px dashed white;
}

h1{
    font-family: courier;
    color: white;
    text-align:center;
}

h2{
    font-family: courier;
    color: white;
}

h4, h5{
    font-family: heiti sc, courier;
    color: white;
}


.footer {
    font-family: courier;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, .6);
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 4%;
}

.logo1{
    width:50px;
    margin:10px;
}


.footer {
    font-family: courier;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, .6);
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 4%;
}

.sampleimg{
    width:70%;
}

.imgdiv{
    text-align:center; 
    display:block;
    margin:auto;
}

.clubdropdown{
    margin:30px;
}

.infobutton{
    margin:10px;
}

h3{
    color:white;
}

p{
    color:white;
}

